{% extends '::base.html.twig'%}

{% block title %}{{ parent() ~ ' - Editing ' ~ address.title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
        'assets/css/forms.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block footjavascripts %}
    {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    <a href="{{ path('contact_contact_show', { 'id': contact.id }) }}"><span class="back-link"><i class="fa fa-angle-left"></i> go back to contact</span></a>
{% endblock %}

{% block body %}
    <h1>Editing {{ address.title }} for {{ contact.fullName(true)|raw }}</h1>
    <div class="primary-inner-content-container">
        <div class="create-contact-wrapper">
            {{ form_start(form, { 'attr': {'role': 'form'} }) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}