{% extends '::base.html.twig'%}

{% block title %}{{ parent()}} - all contacts{% endblock %}

{% block body %}
    <h1>Your contacts</h1>
    <div class="primary-inner-content-container">
        <ul class="contact-list">
            {% for contact in contacts %} {# When 'favourite contact' is implemented, sort list by featured #}
                <li class="row contact-list--contact">
                    <div class="col-md-9">
                        {# <i class="fa fa-user contact-symbol"></i> #}
                        <a href="{{ path('contact_contact_show', {id: contact.id}) }}" class="contact-name">
                            {{ contact.firstName }} {% if contact.middleNames %}&lsquo;{{ contact.middleNames }}&rsquo; {% endif %}{{ contact.surname }}
                        </a>
                    </div>
                    <div class="col-md-3 contact-list--button-wrapper">
                        <a href="{{ path('contact_contact_delete', { 'id': contact.id }) }}"><button type="button" class="textless-btn delete-btn"><i class="fa fa-times"></i></button>
                        <button type="button" class="textless-btn edit-btn"><i class="fa fa-pencil"></i></button>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}