{% extends '::base.html.twig'%}

{% block title %}{{ parent()}} - all contacts{% endblock %}

{% block body %}
    {% for notification in notifications %}
        <p>{{ notification.message }}</p>
    {% endfor %}
    <h1>Your contacts</h1>
    <div class="primary-inner-content-container">
        {% for flash in app.session.flashbag.all %}
            {% for msg in flash %}
                <div class="bg-primary msg">{{ msg }}</div>
            {% endfor %}
        {% endfor %}
        <ul class="contact-list">
            {% for contact in contacts %}
                <li class="row contact-list--contact">
                    <div class="col-md-9">
                        <a href="{{ path('contact_contact_show', {id: contact.id}) }}" class="contact-name">
                            {{ contact.fullName(true)|raw }}
                        </a>
                    </div>
                    <div class="col-md-3 contact-list--button-wrapper">
                        <a href="{{ path('contact_contact_delete', { 'id': contact.id }) }}"><button type="button" class="textless-btn delete-btn"><i class="fa fa-times"></i></button>
                        <a href="{{ path('contact_contact_edit', { 'id': contact.id }) }}"><button type="button" class="textless-btn edit-btn"><i class="fa fa-pencil"></i></button></a>
                        <a href="{{ path('contact_contact_toggle_favourite', { 'id': contact.id }) }}"><button type="button" class="textless-btn favourite-btn"><i class="fa fa-star{% if not contact.favourite %}-o{% endif %} favourite"></i></button></a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}